input {
  padding: 10px;
  margin: 0 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  text-align: center;

  &:disabled {
    background-color: #fefefe;
    color: black;
    cursor: not-allowed;
  }
}
